/* Details */
.backgroundDetails{
    border: 3px solid #c9a86a; 
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(201, 168, 106, 0.4);
    padding: 3px;
    background-color: #517189;
    color:white;
}

.rating-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.stars {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    width: 100px;
    height: 20px;
    overflow: hidden;
    display: block;
    transform: translateX(5px);
    letter-spacing: 0.15em;
    margin: 0.4rem auto 0.2rem auto;
}

.stars-details {
    position: relative;
    display: inline-block;
    font-size: 20px;
    width: 82px;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    margin: 0;
}

.stars-details::before {
    content: "★★★★★";
    color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
}

.stars::before {
    content: "★★★★★";
    color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.stars-inner::before {
    content: "★★★★★";
    color: #f8ce0b;
    position: absolute;
    top: 0;
    left: 0;
}

.rating-row p {
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.rating-row a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color:white;
}


.card-text {
    margin: 0.4rem 0;
}

.product-details {
    padding-left: 20px;
}

.product-title {
    font-size: 2rem;
    font-weight: 700;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}

.product-image {
    width:100%;
    height: 100%;
    object-fit: contain;
    align-self:center;
    border-radius:12px;
    border:3px solid #7AAACE;
    background-color:white;
}

.purchase-box {
    border-radius: 8px;
    background: #c9a86a;
    align-content:center;
    height:100%;
}

.in-stock {
    color: #0a8a00;
    font-weight: bold;
}

.almost-out-of-stock{
    color: #ffbf00;
    font-weight: bold;
}

.out-of-stock {
    color: red;
    font-weight: bold;
}

.price-title {
    font-weight: 600;
}

.purchase-box .coins-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px; 
    transform-origin: center; 
}


.purchase-box .coin-image {
    width: 18px;   
    height: 18px;
}

.purchase-box .coin-amount {
    font-size: 0.9rem;  
}

.price-outside .coins-container {
    display: flex;
    align-items: center;
    gap: 1px;
    transform: scale(1);     
    transform-origin: left;   
}

.price-outside .coin-image {
    width: 20px;
    height: 20px;
}

.price-outside .coin-amount {
    font-size: 0.9rem;
}

.purchase-box .quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.purchase-box .quantity-button {
    padding: 4px 8px;  
    font-size: 0.85rem; 
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #eee;
    cursor: pointer;
    line-height: 1;
}

.purchase-box .quantity-input {
    width: 45px;     
    padding: 4px;
    font-size: 0.85rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 28px;         
}


/* end details */

@media (max-width: 800px) {
    .main{
        padding:10px;
    }
}