
.panier-Container{
    border: 1px solid black;
    margin: 10px;   
}

.panier-row{
    gap: 1px;
    background-color: black;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 7% minmax(0,1fr) 200px 15%;
}

.panier-content{
    background-color: #f7f8f0;
    padding: 20px;
    margin: 1px;
    
    text-align: center;
}

.panier-image-box{
    grid-column: 1;
    background-color: #f7f8f0;
    margin: 1px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.panier-image{
    height: 75px;
    width: 100%;
    object-fit: contain;
}

.panier-nom{
    grid-column: 2;
    text-align:left;
}

.panier-quantite{
    grid-column: 3;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
}

.qte-element{
    height: 30px;
    width: 30px;
    text-align: center;
}

.btn-circular{
    border: none;
    /*background: none;*/
    border-radius: 50%;
}

.btn-circular:hover{
    background-color: #b3b3b3;
}

.panier-prix{
    grid-column: 4;
}